mat-card-content {
  padding: 24px 16px;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-form-field {
  width: 100%;
}
